#movie-details-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

#movie-details-wrapper h1 {
  align-self: center;
  margin-bottom: 0.2%;
  margin-top: 2%;
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
}

#movie-details-wrapper #title {
  display: flex;
  flex-direction: column;
  border-bottom-style: inset;
  border-color: black;
}

#movie-details-wrapper .plot {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

#movie-details-wrapper .image-plot {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  flex-grow: 1;
}

#movie-details-wrapper .pg-rated-runtime {
  margin-top: 1%;
  margin-bottom: 1%;
  align-self: center;
}

#movie-details-wrapper .poster {
  width: 300px;
  height: 400px;
}

#movie-details-wrapper .plot-header {
  margin-bottom: 1%;
}

#movie-details-wrapper .plot-text {
  width: 30%;
  margin-top: 3px;
  font-size: 18px;
  font-weight: bold;
}

#movie-details-wrapper .tickets {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  flex-shrink: 0;
}

#movie-details-wrapper .buy-tickets {
  align-self: center;
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
}

#movie-details-wrapper .jqx-grid {
  margin-top: 3%;
}

#movie-details-wrapper .jqx-button {
  align-self: center;
  margin-top: 5%;
  cursor: pointer;
}

#movie-details-wrapper .movie-id-invalid {
  height: 100%;
}

#movie-details-wrapper .movie-id-invalid h1 {
  margin-top: 8%;
}