.profile {
  display: flex;
  flex-direction: column;
}

.profile .profile-data {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  border-bottom-style: inset;
  border-color: black;
}

.profile .delete-user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 5%;
  flex-grow: 0;
}

.profile .delete-button {
  align-self: center;
  margin-right: 50%;
}

.profile .delete-reservations {
  margin-left: 10%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.profile .wrapper h2 {
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
  align-self: center;
}

.profile .delete-reservations span {
  font-size: 20px;
}

.profile .confirm {
  display: flex;
  flex-direction: row;
}

.profile .password {
  display: flex;
  flex-direction: row;
  width: 550px;
}

.profile input[type=password] {
  margin-top: 1% !important;
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.profile .reservations {
  margin-top: 2%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  height: 500px;
}

.profile h3 {
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
}

.profile h4 {
  color: red;
}

.profile h6 {
  color: red;
  width: 280px;
  margin-top: 2%;
}

.profile .cancel {
  margin-left: 2%;
}

.profile .fields h2 {
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
}

.profile .fields {
  margin-bottom: 2%;
  margin-left: 3%;
}

.profile .table {
  width: 55%;
}