.photo {
  height: 650px !important;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.scroll-view {
  margin-left: 18%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  background-color: #c9c9c9;
}

#list-box {
  align-self: center;
}

h1 {
  margin-top: 27px;
}

.all-movies {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  background-image: url("../../assets/slick.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 2%;
}

.all-movies-poster {
  width: 150px;
  height: 200px;
  cursor: pointer;
}

img:hover {
  opacity: 0.8;
}

.wrapper {
  display: flex;
  flex-direction: column;
}