@import '~bootstrap/dist/css/bootstrap.min.css';

div[role=row] {
  height: 150px !important;
}

.navbar {
  display: inline-flex;
}

.navbar a {
  color: white;
  font-size: 24px;
}

img {
  width: 150px;
  height: 60px;
}

a {
  cursor: pointer;
}