@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar {
  display: inline-flex;
}

.navbar a {
  color: white;
  font-size: 24px;
}

.navbar img {
  width: 150px;
  height: 60px;
}

.navbar a {
  cursor: pointer;
}