.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 40%
}

.sign-up h1 {
  color: #FFC700;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: thin;
  margin-left: 15%;
}

.sign-up h3 {
  color: red;
}

.sign-up .form {
  margin-top: 15%;
}

.sign-up .in-use {
  flex-grow: 1;
}

.sign-up table {
  width: auto !important;
  /* height: auto; */
}

